@media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin  infinite 3s linear;
    }
  }

  nav{
    background-color: #bfbfbf;
     box-shadow: 3px 3px 7px rgb(131, 131, 131);
    transition: all ease 0.4s;
  }
  #btn-close{
    color: aliceblue;
    background-color: aliceblue;
  }
  nav:hover{
    background-color: #bfbfbf;
    box-shadow: 3px 3px 15px rgb(94, 94, 94) ,  3px 3px 22px rgb(84, 84, 84);
  }
  .offcanvas{
    background-color: #e9e9e9;
    box-shadow: 2px 2px 25px rgb(44, 44, 44),2px 2px 25px black;
  }
  
  #title {
    background: linear-gradient(to right, #0074D9, #00BFFF, #00eeff); /* Blue gradient */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 33px;
    font-weight: bold;
    filter: drop-shadow(1px 1px 1px black);
    animation: colorWave 5s linear infinite; /* Adjust duration as needed */
  }
  
  
  #title2{
    background: linear-gradient(to left, #0074D9, #00BFFF,  #00eeff); /* Blue gradient */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 24px; 
    font-weight: bold;
    font-size: 30px;
    filter: drop-shadow(1px 1px 1px black);
    animation: color 12s ease-in-out infinite;
  }
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotateCube {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }


